<!DOCTYPE html>
<html lang="en">
    <head>
      <title>BolsaITESZ</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
  <body>
    
      
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/Usuario">Usuarios</a></li>
            <li><a href="/Empresas">Empresas</a></li>
            <li><a href="/Contratos">Contratos</a></li>
            <li><a href="/Categorias">Categorias</a></li>
            <li><a href="/Carreras">Carreras</a></li>
            <li><a href="/Ofertas">Ofertas</a></li>
            <li><a href="/Postulaciones">Postulaciones</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Ofertas </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/altaOferta">Registrar Oferta</a>
                <a class="dropdown-item" href="#">Opciones Entrevista</a>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/altaOferta">Registrar Oferta</a>
                <a class="dropdown-item" href="#">Opciones Entrevista</a>
              </div>
            
        </div>
      </div>
    </nav>

    <form action="/insertarTurnosBD" method="post">

        <h2>Registro de Turnos</h2>


        <div class="row">

            <div class="form-group col">
                <label>Turno</label>
                <select class="form-control" id="nombre" name="nombre" required>
                    <option value="" disabled selected>Seleccionar un opcion</option>
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                    <option value="Nocturno">Nocturno</option>
                </select>
            </div>
        
            <div class="form-group col">
                <label>Hora Entrada</label>
                <select class="form-control" id="hentrada" name="hentrada" required>
                    <option value="" disabled selected>Seleccionar un opcion</option>
                    <option value="7:30">7:30</option>
                    <option value="13:00">13:00</option>
                    <option value="16:30">16:30</option>
                </select>
            </div>

            <div class="form-group col">
                <label>Hora Salida</label>
                <select class="form-control" id="hsalida" name="hsalida" required>
                    <option value="" disabled selected>Seleccionar un opcion</option>
                    <option value="12:30">12:30</option>
                    <option value="17:30">17:30</option>
                    <option value="22:30">22:30</option>
                </select>
            </div>

        </div>


        <button type="button" class="btn btn-dark" onclick="comprobar()" id="btn-comprobar">Comprobar</button>
        <button type="submit" class="btn btn-success" style="display: none;" id="btn-registrar">Enviar</button>
        <a href="/homebase">Regresar</a>
    </form>    
    
  </body>
</html>
    