<!doctype html>
<html lang="es">
    <head>
        <title>BolsaITESZ</title>
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/EstiloUsuario.css')}}">
        <script src="entrevista.js"></script>
    </head>
    <body>
        <header>
            <h1 id="textoEncabezado">
                ENTREVISTA
            </h1>
        </header>
        <main>
            <section>
                <h1>CONSULTA</h1>
                <fieldset>
                    <label>IdEntrevista:</label>
                    <input type="text" name="IdEntrevista1" placeholder="IdEntrevista"> 
                    <button onclick="ConsultarEntrevista()">Consultar</button>
                </fieldset>
                <form>
                    <div id="datosPersonales">
                        <fieldset>
                            <legend>Datos</legend>
                                <label>IdEntrevista:</label>
                                <input type="text" name="IdEntrevista" placeholder="IdEntrevista" required> 
                                <br>
                                <label>IdReclutor:</label>
                                <input type="text" name="IdReclutor" placeholder="IdReclutor" required> 
                                <br>
                                <label>IdCandidato:</label>
                                <input type="text" name="IdCandidato" placeholder="IdCandidato" required> 
                                <br>
                                <label>FechaRegistro:</label>
                                <input type="date" name="FechaRegistro" placeholder="DD/MM/AA">
                                <br>
                                <label>FechaEntrevista:</label>
                                <input type="date" name="FechaEntrevista" placeholder="DD/MM/AA">
                                <br>
                                <label>HoraInicio:</label>
                                <input type="time" name="HoraInicio" required>
                                <br>
                                <label>HoraFin:</label>
                                <input type="time" name="HoraFin" required>
                                <br>
                                <label>Estatus:</label>
                                <input type="radio" name="Estatus" value="A" checked>Aceptado
                                <input type="radio" name="Estatus" value="R">Rechazado
                                <br>
                                <label>Oferta:</label>
                                <input type="text" name="Oferta" placeholder="" required>
                                <br>
                                <button onclick="Agregar()">Agregar</button>
                                <button onclick="Editar()">Editar</button>
                                <button onclick="eliminar()">Eliminar</button>
                            </legend>
                        </fieldset>
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>