<!doctype html>
<html lang="es">
    <head>
        <title>BolsaITESZ</title>
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/EstiloUsuario.css')}}">
        <script src="usuarios_ajax.js"></script>
    </head>
    <body>
        <header>
            <h1 id="textoEncabezado">USUARIOS</h1>
        </header>
        <main>
            <section>
                <h1 class="a">CONSULTA</h1>
                <div>
                    <fieldset>
                        <label>IdUsuario:</label>
                        <input type="text" name="IdUsuario" placeholder="IdUsuario"> 
                        <button onclick="consultar()">Consultar</button>
                    </fieldset>
                </div>
                <form>
                    <div id="datosPersonales">
                        <fieldset>
                            <legend>Datos</legend>
                                <label>Nombre completo:</label>
                                <input type="text" name="nombre" placeholder="Nombre completo" maxlength="100" required> 
                                <br>
                                <label>IdUsuario:</label>
                                <input type="text" name="IdUsuario" placeholder="IdUsuario" required> 
                                <br>
                                <label>Sexo:</label>
                                <input type="radio" name="sexo" value="F" checked>Femenino
                                <input type="radio" name="sexo" value="M">Masculino
                                <br>
                                <label>Telefono:</label>
                                <input type="tel" name="telefono" placeholder="###-###-####" maxlength="12" required>
                                <br>
                                <label>Email:</label>
                                <input type="email" name="email" placeholder="algo@algo" maxlength="100" required>
                                <br>
                                <label>Contraseña:</label>
                                <input type="password" name="password" placeholder="password" maxlength="20" required>
                                <br>
                                <button onclick="Agregar()">Agregar</button>
                                <button onclick="Editar()">Editar</button>
                                <button onclick="eliminar()">Eliminar</button>
                            </legend>
                        </fieldset>
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>