<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reclutores</title>

    </head>

        <header>
            <br>

            <h1 align="center" style="color:dodgerblue;" id="textoEncabezado">
                INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA</h1>
        </header>

        <nav>
        <ul>
            <li><a href="/altaReclutores">Alta de Reclutores</a></li>
            <li><a href="/editarReclutores">Editar Reclutores</a></li>
            <li><a href="/consultaReclutores">Consulta de Reclutores</a></li>
            <li><a href="/eliminarReclutores">Eliminar Reclutores</a></li>

        </ul>
        </nav>

        <a href="/Principal">Regresar</a>


</html>