<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AlumnosEgresados</title>
    </head>

    <header>
            <br>
            <h1 align="center" style="color:dodgerblue;" id="textoEncabezado">INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA</h1>
        </header>

        <nav>
        <ul>
            <li><a href="/altaAlumnos">Alta de Alumnos Egresados</a></li>
            <li><a href="/editarAlumnos">Editar Alumnos Egresados</a></li>
            <li><a href="/consultaAlumnos">Consulta de Alumnos Egresados</a></li>
            <li><a href="/eliminarAlumnos">Eliminar Alumnos Egresados</a></li>

        </ul>
        </nav>
             <a href="/Principal">Regresar</a>

</html>