<!doctype html>
<html>

    <head>
        <title>BolsaTEC</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="../static/Imagenes/tec.png">
        <link rel="stylesheet" href="/static/CSS/Estilo-Principal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <form action="/actualizarAlumno" method="post">
            <h2>EDITAR ALUMNO</h2>
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="nacimiento">Fecha Nacimiento </label>
                    <input type="date" class="form-control is-valid" name="nacimiento" placeholder="Nacimiento" required
                        value="{{alumnos.fecha_nacimiento}}">
                </div>
                <div class="col-md-5 mb-3">
                    <label for="Promedio">Promedio: </label>
                    <input type="number" class="form-control is-invalid" name="promedio" placeholder="Promedio" required
                        value="{{alumnos.promedio}}">
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 mb-3">
                    <label for="egreso">Año egreso: </label>
                    <input type="date" class="form-control is-invalid" name="egreso" placeholder="Año egreso" required value="{{alumnos.anioEgreso}}">
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn btn-primary" href="/Principal">Cancelar</button>
        </form>
    </body>

</html>