<!doctype html>
<html>

    <head>
        <title>BolsaTEC</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="../static/Imagenes/tec.png">
        <link rel="stylesheet" href="/static/CSS/Estilo-Principal.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <form action="/actualizarPersonal" method="post">
            <h2>EDITAR PERSONAL</h2>
            <div class="form-row">
                <div class="col-md-3 mb-5">
                    <label for="personal">Id Personal </label>
                    <input type="text" class="form-control is-valid" id="personal" name="personal" placeholder="Id Personal"
                        required value="{{personal.id_vinculacion}}" readonly>
                </div>
                <div class="col-md-3 mb-5">
                    <label for="id">Id Usuario </label>
                    <input type="text" class="form-control is-valid" id="id" name="id" placeholder="Id Usuario"
                        required value="{{personal.id_usuario}}" readonly>
                </div>
                <div class="col-md-3 mb-5">
                    <label for="nombre">Nombre </label>
                    <input type="text" class="form-control is-valid" id="nombre" name="nombre" placeholder="Nombre"
                        required value="{{personal.nombre}}">
                </div>
                <div class="col-md-3 mb-5">
                    <label for="paterno">Apellido paterno </label>
                    <input type="text" class="form-control is-valid" id="paterno" name="paterno" placeholder="Apellido Paterno"
                        required value="{{personal.apellido_paterno}}">
                </div>
                <div class="col-md-3 mb-5">
                    <label for="materno">Apellido materno </label>
                    <input type="text" class="form-control is-valid" id="materno" name="materno" placeholder="Apellido Materno"
                        required value="{{personal.apellido_materno}}">
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="telefono">Telefono: </label>
                    <input type="tel" class="form-control is-invalid" id="telefono" name="telefono" placeholder="Telefono" required value="{{personal.telefono}}">
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="correo">Correo: </label>
                    <input type="email" class="form-control is-invalid" id="correo" name="correo" placeholder="Correo" required value="{{personal.correo}}">
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="genero">Genero: </label>
                    <select class="form-control" id="genero" name="genero">
                        <option value="{{personal.genero}}">{{personal.genero}}</option>
                        {% if personal.genero=='Femenino' %}
                        <option value="Masculino">Masculino</option>
                        {% else %}
                        <option value="Femenino">Femenino</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="estatus">Estatus: </label>
                    <select class="form-control" id="estatus" name="estatus">
                        <option value="{{personal.estatus}}">{{personal.estatus}}</option>
                        {% if personal.estatus=='Inactivo' %}
                        <option value="Activo">Activo</option>
                        {% else %}
                        <option value="Inactivo">Inactivo</option>
                        {% endif %}
                    </select>
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="usuario">Usuario: </label>
                    <input type="text" class="form-control is-invalid" id="usuario" name="usuario" placeholder="Usuario" required value="{{personal.usuario}}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" class="form-control is-invalid" id="contraseña" name="contraseña" placeholder="Password" required value="{{personal.passwd}}">
                    <div class="valid-feedback">
                        <br>
                    </div>
                    <div class="valid-feedback">
                        <br>
                    </div>
                </div>
            </div>
                <button class="btn btn-primary" type="submit">Guardar</button>
                <button class="btn btn-primary" href="/opcionesPersonal">Cancelar</button>
        </form>
    </body>

</html>