<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BolsaITESZ</title>
    </head>
    <body>
        <header>
            <h1 align="center" style="color:dodgerblue;" id="textoEncabezado">
                INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA</h1>
        </header>
        <main>
            <section>
                <h1>Eliminacion de  Personal de Vinculacion</h1>
                <form>
                    <div id="datosEstructurales">
                        <p>Te encuentras seguro de querer eliminar al Personal de Vinculacion: <b> </b>?</p>
                            <button>Aceptar</button>
                            <button>Cancelar</button>
                    </div>
                </form>
                 <a href="/PersonalVinculacion" class="linkButton">Regresar</a>
            </section>
        </main>
    </body>
</html>

